body,
p,
h1,
a {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    all: unset !important;
    cursor: pointer !important;
}


input {
    all: unset;
}

.flex-block {
    display: flex;
}

.flex-block div {
    margin: auto;
}

.align-vertical {
    margin: auto 0;
}

.header-home {
    display: flex;
    height: 80px;
}

.block-logo {
    background-color: black;
    border-radius: 0 50px 50px 0;
    color: white;
    padding: 0 70px;
}


.text-logo {
    margin-left: 20px !important;
}

.text-logo h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-header {
    color: #000;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.all-task {
    margin: auto 0 auto 25px;
}

.line {
    width: 2px;
    height: 54px;
    margin: auto 25px;
    background-color: rgba(0, 0, 0, 0.15);
}

.icon-header {
    margin-right: 8px !important;
}

.share {
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 18px 40px 18px 25px;
    border-radius: 15px;
    padding: 10px 16px;
}

.share-text {
    display: table-cell;
    vertical-align: middle
}

.share:last-child {
    margin-left: auto;
}

.main-content {
    display: flex;
    height: 91.5%;
}

.block-menu {
    flex: 0 0 328px;
}

.block-search {
    margin: 10px 10px 20px 12px;
}

.input-search {
    width: 88%;
    border-radius: 5px;
    background-color: #EAEAEA !important;
    padding-left: 35px;
    height: 30px;
}

.block-link {
    margin-left: 21px;
    margin-bottom: 20px;
}

.block-link img {
    margin-right: 11px;
    width: 20px;
    height: 22px;
}

.img-notif {
    margin-left: 3px;
    width: 16px !important;
    height: 18px !important;
}

.block-link p {
    color: #53575E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-favorite {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.inner-favorite {
    margin: 15px 20px 15px 24px;
    justify-content: space-between;
    cursor: pointer;
}

.inner-favorite h1 {
    color: #53575E;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.block-logout {
    position: absolute;
    bottom: 0;
    margin: 15px 12px;
}

.btn-logout {
    width: 300px;
    height: 35px;
    color: white;
    background-color: #F00;
    border-radius: 10px;
    border: none;
}

.project-item {
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-bottom: 10px;
    height: 0;
    line-height: 12px;
    transition: height 0.1s ease;
}

.project-item.expanded {
    height: 30px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.image-project {
    width: 14px;
}

.line-in-filter {
    height: 25px;
}

.text-container p {
    color: #53575E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.line-filter {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
}

.block-search-task {
    margin: 16px 40px 16px 20px;
}

.task_search {
    background-color: unset !important;
}

.block-with-list-filters {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: auto;
}


.filter-item {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.text-filter {
    color: #444;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

.image-filter {
    width: 17px;
    height: 14px;
}

.fix-sort {
    height: 20px;
}


.right-block-home {
    border-radius: 10px 0 0 0;
    width: 100%;
    overflow: hidden;
    border-top: 2px solid #D9D9D9;
    border-left: 2px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scroll-container {
    flex: 1; /* Занимаем всю доступную высоту */
    overflow-x: auto; /* Горизонтальная прокрутка */
    display: flex;
    flex-direction: column;
}

.scroll-content::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

.scroll-content:hover::-webkit-scrollbar {
    display: block;
}

.scroll-content::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 10px;
}

.scroll-content::-webkit-scrollbar-thumb:hover {
    background-color: #CECECE;
}

.scroll-content {
    width: 100%; /* Ширина должна быть 100%, чтобы контент мог прокручиваться вправо */
    align-self: flex-end; /* Прижимаем контент к нижнему краю блока */
    overflow: scroll;
}

.content {
    width: max-content;
    margin-top: 14px;
    margin-left: 43px;
    height: 80vh;
}

.container-column {
    display: flex;
    width: 100% !important;
}

.column {
    flex: 1;
    width: 370px;
    height: 100%;
    margin-right: 30px;
}


.block-status-task {
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #FFF;
    height: 60px;

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 30px;
}

.title-status {
    color: #3F3F3F;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.count-task-status {
    border-radius: 10px;
    border: 2px solid #3F3F3F;
    padding: 2px 10px;
    text-align: center;
}

.count-task-status p {
    color: #3F3F3F;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
}

.block-task {
    width: 370px;
    border-radius: 15px;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    padding: 9px 19px;
}

.task-url {
    display: flex;
    align-items: center;
}

.item-url {
    margin-right: 7px;
    display: flex;
    align-items: center;
}

.item-url img {
    height: 10px;
}

.item-url p {
    color: #53575E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.color-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 21px;
}

.line-task {
    display: flex;
    align-items: flex-start;
    margin-top: 14px;
    margin-bottom: 20px;
}

.avatar-user-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
    margin-top: 5px;
    text-align: center;
}

.title-task {
    flex: 1 1 50%;
    max-width: 50%;
    word-wrap: break-word;
}

.title-task p {
    color: #53575E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.avatar-user {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background-color: #859fd9;
    margin: -5px;
}

.link-redaction {
    color: #53575E;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.toolbar {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    margin: 30px 0;
}

.timer {
    background-color: #282828;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.timer img {
    width: 100%;
    height: 100%;
    padding: 9px;
}

.create_task {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #F22;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.create_task div {
    color: #FFF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.plus {
    font-size: 20px !important;
}

.plus_task {
    margin-top: 1px;
}

.red-line {
    background-color: rgba(255, 0, 0, 0.10);
    border-left: 3px solid red;
    border-radius: 2px;
    margin-left: 0;
    padding-left: 32px;
}

.openModalBtn {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.modal-content {
    background-color: #fff;
    margin: 37px auto;
    width: 90.5%;
    height: 890px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.header-line-modal {
    height: 65px;
    border-bottom: 1px solid #B7B7B7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-line-modal div {
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid #B7B7B7;
    width: 35px;
    height: 35px;
    padding: 10px;
}

.header-line-modal div img {
    width: 100%;
    height: 100%;
}

.share-image {
    padding: 8px !important;
}

.line-info-modal {
    height: 85px;
    border-bottom: 1px solid #B7B7B7;
    display: flex;
    justify-content: space-between;
}


.left-line-info-modal {
    flex: 1;
    display: flex;
    align-items: center;
    border-right: 1px solid #B7B7B7;
}

.right-line-info-modal {
    flex: 1;
    display: flex;
    align-items: center;
}

.block-status-next {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.text-button-task {
    height: 35px;
    background-color: #FF0000;
    margin-right: 2px;
    padding: 11px 50px 11px 23px;
    border-radius: 10px 0 0 10px;
}

.text-button-task p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.arrow-button-task {
    height: 35px;
    width: 35px;
    background-color: #FF0000;
    border-radius: 0 10px 10px 0;
    padding: 12px;
}

.arrow-button-task img {
    width: 100%;
    height: 100%;
}

.avatars-developed {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.avatar-developed {
    width: 35px;
    height: 35px;
    background-color: #0074d9;
    border-radius: 50%;
    margin: -5px;
    display: inline-block;
    position: relative;
}

.avatar-developed img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.menu-info-modal {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #3F3D3D;
    margin-right: 7px;
}

.text-info p {
    color: #B7B7B7;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.text-add-info p {
    color: #3F3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.line-modal {
    margin: auto 15px;
}

.date-create {
    margin-left: 20px;
}

.track-time {
    display: flex;
    align-items: center;
}

.img-start-track {
    margin-right: 5px;
    display: flex;
    align-items: center;
    height: 15px;
}

.img-start-track img {
    height: 100%;
}

.line-two {
    margin-top: 6px;
}

.main-info-modal {
    display: flex;
    flex: 1 0 auto;
}

.block-info-task {
    flex: 1;
    border-right: 1px solid #B7B7B7;
}

.main-container-info {
    margin: 0 40px 0 50px;
}

.block-chat-modal {
    flex: 1;
}


.footer-info-modal {
    display: flex;
    align-items: center;
    height: 55px;
    border-top: 1px solid #B7B7B7;
    margin-top: auto;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.15)
}

.left-chat-modal {
    flex: 1;
    height: 100%;
    border-right: 1px solid #B7B7B7;
}

.send-chat-modal {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.text-message {
    color: #B7B7B7;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start-chat {
    margin-left: 22px;
    width: 95%;
}

.start-chat input {
    width: 95%;
}

.end-chat {
    margin-right: 22px;
}

.block-title-task {
    margin-top: 30px;
}

.block-title-task p {
    color: #515151;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-desk-task {
    border-radius: 15px;
    border: 1px solid #B7B7B7;
    padding: 16px;
    margin-top: 16px;
    min-height: 90px;
}

.block-desk-task p {
    color: #515151;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-extends-task {
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
    margin-right: 15px;
}

.block-create-subtask {
    border-radius: 10px;
    border: 1px solid #B7B7B7;
    margin-top: 5px;
}

.create-title-subtask {
    display: flex;
    align-items: center;
    padding: 13px;
    border-bottom: 1px solid #B7B7B7;
    border-radius: 10px;
}

.sub-task {
    margin-top: 16px;
}

.sub-task p {
    color: #515151;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.red-circle {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background: #FFA4A4;
}

.create-desk-subtask {
    padding: 13px;
}

.text-area {
    width: 99%;
    min-height: 50px;
}

.title-task-input {
    margin-left: 13px;
    width: 100%;
}

.title-task-input input {
    width: 100%;
}

#textarea-subtask {
    resize: none;
}

.create-subtask {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.create-subtask button {
    height: 28px;
    border-radius: 10px;
    background: #F00;
    padding: 3px 30px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}