/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}


html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    font-family: 'DM Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

/*--------------------*/

:root {
    --dark-blue: #416788;
}

.header {
    height: 100vh;
    background-color: black;
}

.main-container {
    width: 1440px;
    margin: 0 auto;
}

.header-line {
    display: flex;
    align-items: center;
    align-content: space-between;
    padding-top: 20px;
}

.push-right {
    margin-left: auto;
}

.btn_custom {
    border-radius: 15px;
    height: 43px;
    padding: 8px 33px 12px 33px;
    font-size: 20px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.20);
}

.btn_red {
    background: #EF3124;
}

.link_header {
    color: #FFF;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    margin-left: 40px;
    margin-right: 105px;
}

.create-project {
    margin-left: 40px;
}

.header-info {
    display: flex;
    align-items: stretch;
    margin-top: 200px;
}


#span {
    font-family: 'DM Sans', sans-serif;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-header {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.block-text-header {
    margin-top: 60px;
    margin-bottom: 75px;
}

.text-header {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

.header-image {
    flex: 1;
    display: flex;
    align-items: center;
    margin: -200px -200px -200px 0px;
}

.header-image img {
    max-width: 100%;
    max-height: 100%;
}

.title-text {
    color: #282828;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.end-project {
    margin-top: 82px;
}


.slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.slider {
    display: flex;
    animation: slide 30s linear infinite;
}

.slide {
    width: 440px;
    height: 487px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    font-size: 24px;
    margin-right: 60px;
    margin-bottom: 20px;
    padding: 30px 50px;
    background: #FFF;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.title-project {
    margin-top: 60px;
}

.slide h1 {
    margin: 0;
    color: #282828;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slide div:last-child {
    height: 190px;
    align-self: flex-end;
}

.image-project {
    width: 100%;
    height: 100%;
}

.func-project {
    border-radius: 20px;
    background: #000;
    height: 510px;
    position: relative;
    margin-top: 80px;
}

.group-func {
    height: 85px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    background: #EF3124;
    display: flex;
}

.column-func {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-func p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select-func {
    background: #DA180B;
}

.func-title {
    padding-top: 70px;
    margin-left: 125px;
}

.func-title h1 {
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.func-desc {
    margin-top: 80px;
    margin-left: 125px;
    width: 850px;
}

.func-desc p {
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}